@page "/"
@using Microsoft.AspNetCore.Components
@using MW.Kredytus.Calculator

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<h2>Parametry kredytu</h2>
Pozostała kwota do spłaty: <input @bind="_mortgageParams.RemainingAmount" type="number"/><br/>
Data ostatniej raty: <input @bind="_mortgageParams.LastInstallmentDate" type="date"/><br/>
Marża banku: <input @bind="_mortgageParams.BankMargin" type="number"/>%<br/>
Stopa bazowa: <input @bind="_mortgageParams.BaseRate" type="number"/>%<br/>

<h3>Prowizja za wcześniejszą spłatę</h3>
Prowizja za wcześniejszą spłatę: <input @bind="_mortgageParams.EarlyRepaymentCommission" type="number"/>%<br/>
Prowizja za wcześniejszą spłatę do dnia: <input @bind="_mortgageParams.EarlyRepaymentCommissionEndDate" type="date"/><br/>

<h3>Ubezpieczenie niskiego LTV</h3>
Podwyższenie raty: <input @bind="_mortgageParams.LowLtvInterestIncrease" type="number"/>%<br/>
Próg LTV: <input @bind="_mortgageParams.LowLtvThreshold" type="number"/>%<br/>
Wartość nieruchomości: <input @bind="_mortgageParams.CollateralValue" type="number"/>%<br/>

<button @onclick="PrepareTable">Wygeneruj</button>

@if (_mortgage != null)
{
    <ChangeBaseRateModal Mortgage="_mortgage" @ref="_changeBaseRateModal" OnChange="@StateHasChanged" />
    <EarlyRepaymentModal Mortgage="_mortgage" @ref="_earlyRepaymentModal" OnChange="@StateHasChanged" />
    
    <button @onclick="ApplyIncreasedRepayment">Nadpłata kredytu o różnicę raty z pierwszą ratą, tam gdzie nadpłata 0</button>
    
    <p>
        Suma odsetek: @Math.Round(_initialInterestSum) -> @Math.Round(_mortgage.InterestSum) (zmiana: @Math.Round(_initialInterestSum - _mortgage.InterestSum))
    </p>
    <p>
        Ilość rat: @_initialInstallmentsNumber -> @_mortgage.Installments.Count() (zmiana: @(_initialInstallmentsNumber - _mortgage.Installments.Count()))
    </p>

    <table class="table table-striped">
        <thead>
            <td>Numer raty</td>
            <td>Data raty</td>
            <td>Rata kapitałowa</td>
            <td>Rata odsetkowa</td>
            <td>Rata razem</td>
            <td>Stopa bazowa</td>
            <td>Marża banku</td>
            <td>Wcześniejsza spłata</td>
            <td>Pozostało do spłaty</td>
            <td>Operacje</td>
        </thead>
        <tbody>
        @foreach (var installment in _mortgage.Installments)
        {
            <tr>
                <td>@installment.InstallmentNumber</td>
                <td>@installment.Date</td>
                <td>@Math.Round(installment.CapitalRepayment, 2)</td>
                <td>@Math.Round(installment.InterestRepayment, 2)</td>
                <td>@Math.Round(installment.TotalAmount, 2)</td>
                <td>@installment.BaseRate</td>
                <td>@Math.Round(installment.BankMargin, 2)</td>
                <td>@Math.Round(installment.EarlyRepaymentAmount, 2)</td>
                <td>@Math.Round(installment.RemainingAmount, 2)</td>
                <td>
                    <button @onclick="() => _changeBaseRateModal.Open(installment)">Zmiana stopy bazowej</button>
                    <button @onclick="() => _earlyRepaymentModal.Open(installment)">Wcześniejsza spłata</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ChangeBaseRateModal _changeBaseRateModal;
    private EarlyRepaymentModal _earlyRepaymentModal;
    private Mortgage? _mortgage;

    private decimal _initialInterestSum;
    private int _initialInstallmentsNumber;

    private MortgageParams _mortgageParams = new MortgageParams()
    {
        RemainingAmount = 685_467,
        CalculationDate = DateOnly.FromDateTime(DateTime.Now.Date),
        LastInstallmentDate = new DateOnly(2052, 02, 05),
        BankMargin = 1.65m,
        BaseRate = 7.30m,
        EarlyRepaymentCommission = 2.0m,
        EarlyRepaymentCommissionEndDate = new DateOnly(2024, 10, 07),
        LowLtvThreshold = 0.8m,
        LowLtvInterestIncrease = 0.2m,
        CollateralValue = 760_000m
    };

    private void PrepareTable()
    {
        _mortgage = Mortgage.Create(_mortgageParams);
        _initialInstallmentsNumber = _mortgage.Installments.Count();
        _initialInterestSum = _mortgage.InterestSum;
    }

    private void ApplyIncreasedRepayment()
    {
        _mortgage.IncreasedRepayment();
    }
}